body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

.header {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
}

.search-container {
    margin: 20px auto;
    text-align: center;
}

.search-container input[type="text"] {
    width: 60%;
    padding: 10px;
    font-size: 16px;
}

.search-container button {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
}

.hidden {
    display: none;
}

.filter-container {
    margin: 20px auto;
    text-align: center;
}

.filter-container select {
    padding: 10px;
    font-size: 16px;
    cursor: pointer;
}

.lists-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px auto;
    width: 80%;
}

.list {
    background-color: #fff;
    padding: 20px;
    width: 100%;
    margin-bottom: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.list h2 {
    margin-top: 0;
}

.list ul {
    list-style-type: none;
    padding: 0;
}

.list ul li {
    padding: 10px 0;
    border-bottom: 1px solid #ccc;
}

.list ul li:last-child {
    border-bottom: none;
}
