body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f5f5f5; /* Fundo cinza clarinho */
}

header {
    background-color: #B74065;
    color: #fff;
    padding: 10px;
    text-align: center;
}

#searchBar {
    width: 80%;
    padding: 10px;
    margin-top: 10px;
    border: none;
    border-radius: 4px;
}

#filters {
    display: flex;
    justify-content: center;
    padding: 10px;
    background-color: #51436C;
    color: #fff;
}

#filters select {
    margin: 0 10px;
    padding: 5px;
    border: none;
    border-radius: 4px;
}

#main-nav {
    background-color: #000000;
    color: #fff;
    padding: 10px;
}

#main-nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: left;
}

#main-nav ul li {
    margin: 0 15px;
}

#main-nav ul li a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
}

#main-nav ul li a:hover {
    text-decoration: underline;
}

#content {
    padding: 20px;
}

.material {
    border: 1px solid #ddd;
    padding: 15px;
    margin: 10px 0;
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    background-color: #ffffff; /* Mantém o fundo dos materiais em branco para contraste */
}

.material h2 {
    margin: 0;
}

.material p {
    margin: 5px 0;
}

.material a {
    color: #B74065;
    text-decoration: none;
}

.material a:hover {
    text-decoration: underline;
}

.download-count {
    font-weight: bold;
    color: #51436C;
}

.materia {
    margin: 5px 0 0;
    text-transform: uppercase;
    font-size: 9px;
    color: #272727;
}

/* Estilos adicionais para os botões das turmas */
.turma-button {
    display: block; /* Exibir como bloco para que fiquem um embaixo do outro */
    width: 30%; /* Definir uma largura fixa */
    padding: 10px 20px;
    margin: 10px auto; /* Centralizar os botões */
    background-color: #28a745; /* Cor verde */
    color: white;
    text-align: center;
    text-decoration: none;
    font-weight: bold;
    border-radius: 5px;
    cursor: pointer;
}

.button-container {
   
    padding: 20px;
    text-align: center;
    margin-top: 20px;
}
